@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

:root {
    --color-primary: #05141A;
    --color-secondary: #E0E6EB;
    --color-tertiary: #D4FAE3;
    --color-alternate: #94949C;
    --color-white: #ffffff;
    --transition: 0.3s ease;
    --container-medium: 86%;
    --container-large: 90%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    line-height: 1.75;
}

.container {
    margin: 0 auto;
    width: var(--container-large);
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

section {
    padding: 5rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 5rem;
}

h1 {
    font-size: clamp(1.5rem, 2.5vw, 2.25rem)
}

h1,
h2,
h3,
h4 {
    line-height: 1.2;
    font-weight: 400;
}

h1,
h2,
h3,
p {
    color: var(--color-primary);
}

a {
    color: var(--color-secondary);
    cursor: pointer;
    transition: var(--transition);
}

a:hover {
    color: var(--color-tertiary);
}

.nav-links,
.logo2 {
    display: none;
}

.logo1 {
    font-size: 1.5rem;
    display: block;
}

.btn {
    display: block;
    position: absolute;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 5px 20px;
    border: 1px solid transparent;
    text-transform: uppercase;
    transition: var(--transition);
}

.btn:hover {
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

html,
body {
    width: auto !important;
    overflow-x: hidden !important
}

/* END OF GENERAL STYLING */

nav[id="mobile-nav"] {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    background-color: var(--color-primary);
    position: relative;
    top: 0;
    left: 0;
}

button[id="open-sidebar"] {
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-color: var(--color-primary);
    position: relative;
    display: block;
}

bento-sidebar[id="sidebar1"] {
    background-color: var(--color-primary);
}

bento-sidebar[id="sidebar1"] li {
    padding: 1rem;
    cursor: pointer;
}

/* END OF MOBILE NAVIGATION STYLING */


section[id="about"] .container {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
    place-items: center;
    gap: 1rem;
}

.about-picture {
    aspect-ratio: 1/1;
}

.about-article p:nth-of-type(2) {
    padding-top: 1rem;
}

.about-article svg {
    height: 1rem;
    width: 1rem;
    top: .125em;
    position: relative;
}

/* END OF ABOUT STYLING */

section[id="benefits"] {
    background-color: var(--color-primary);
}

section[id="benefits"] h2,
h3,
.benefits-column {
    color: var(--color-secondary);
}


section[id="benefits"] .container {
    display: grid;
    gap: 1rem;
    grid-template-columns: minmax(min-content, 1fr);
}

article[class="benefits-column"] {
    padding: 1rem;
    border-radius: 2px 16px;
    border: 1px solid var(--color-secondary);
}

article[class="benefits-column"] p {
    color: var(--color-secondary);
    padding-left: 1rem;

}

article[class="benefits-column"] h3 {
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

article[class="benefits-column"] .svg {
    display: block;
    margin: 0 auto;
}

/* END OF BENEFITS STYLING */

section[class="credit_section"] {
    background-color: var(--color-secondary);
}

section[class="credit_section"] h3,
p {
    color: var(--color-primary);
}

section[class="credit_section"] .container {
    display: grid;
    gap: 1rem;
    grid-template-columns: minmax(min-content, 1fr);
}

section[class="credit_section"] p {
    text-align: left;
}

section[class="credit_section"] h3,
figcaption {
    text-align: center;
}

figure[class="creditcard"] {
    padding: 1rem;
}

figcaption svg {
    height: 1em;
    width: 1em;
    top: .125em;
    position: relative;
}

figcaption {
    padding-top: 2rem;
}

.creditcard figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    padding: 1rem;
    aspect-ratio: 16/9;
}

/* END OF CREDIT CARDS STYLING */

footer[id="footer"] li {
    list-style: none;
}

footer[id="footer"] {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

footer[id="footer"] a {
    color: var(--color-secondary);
}

footer[id="footer"] a:hover {
    color: var(--color-tertiary);
}

article[class="footer-column"] p {
    color: var(--color-secondary);
}

.footer-column {
    padding: 1.25rem;
    min-width: 12.5rem;
}

section[id="footer-main"] {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}

h2[class="footer-title"] {
    color: var(--color-primary);
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

/* END OF GENERAL FOOTER STYLING */

form {
    display: flex;
    flex-wrap: wrap;
}

label[class="label"] input[type="email"] {
    border: 0;
    padding: 0.625rem;
    background-color: var(--color-white);
    margin-top: 0.3125rem;
}

input[type="submit"] {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
    font-weight: 600;
}

/* END OF SIGN UP AREA STYLING */

section[id="footer-socials"] {
    padding: 0 1.875rem 1.25rem;
}

ul[class="footer-icons"] {
    display: flex;
    justify-content: center;
    border-top: 1px var(--color-secondary)solid;
    padding-top: 1.25rem;
}

ul[class="footer-icons"] li {
    margin: 0.5rem;
}

.footer-icons svg:hover {
    fill: var(--color-tertiary);
}

/*  END OF SOCIAL MEDIA STYLING */

section[id="footer-legal"] a {
    color: var(--color-secondary);
}

section[id="footer-legal"] {
    padding: 0.9375rem 1.875rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

ul[class="footer-legal-items"] {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

ul[class="footer-legal-items"] li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}

.footer-legal-items li:nth-of-type(2) {
    flex: 1;
}

/* END OF LEGAL SECTION STYLING */

section[id="footer-main"] {
    justify-content: space-around;
}

/* END OF FOOTER SECTION */

section[class="contact"] {
    background-color: var(--color-secondary);
}

section[class="contact"] .container {
    display: grid;
    gap: 1rem;
    grid-template-columns: minmax(min-content, 1fr);
    place-items: center;
}

form[action="contact-form"] {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

fieldset {
    border: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

input,
textarea,
select,
legend {
    width: 100%;
    margin: 10px 0 0 0;
    min-height: 2em;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input,
textarea {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

label[class="label4"] input[type="submit"] {
    display: block;
    min-width: 60%;
    height: 2em;
    font-size: 1rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-color: var(--color-white);
    text-transform: uppercase;
    cursor: pointer;
    padding: 0;
}

section[class="contact"] aside {
    background-color: transparent;
    padding: 2rem;
}

aside h3 {
    font-size: 1.5rem;
    color: var(--color-primary);
    padding-bottom: 0.5rem;
}

section[class="contact"] article {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
}

textarea:focus {
    background-color: var(--color-tertiary);
}

textarea:focus-visible {
    outline: 2px solid var(--color-primary);
    border-radius: 3px;
}

/* END OF CONTACT PAGE STYLING */

.application-body {
    background-color: var(--color-secondary);
}

article[class="application"] h2 {
    margin: 1em auto;
    text-align: center;
}

article[class="application"] form {
    width: 60vw;
    max-width: 500px;
    min-width: 250px;
    margin: 0 auto;
    padding-bottom: 2em;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
}

article[class="application"] fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 2px solid var(--color-primary);
}

article[class="application"] fieldset:last-of-type {
    border-bottom: none;
}

article[class="application"] label {
    display: block;
    margin: 0.5rem 0;
}

label[class="label5"] input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-color: var(--color-white);
    min-width: 250px;
    text-transform: uppercase;
}

article[class="application"] a {
    color: var(--color-primary);
    text-decoration: underline;
}

input:focus {
    background-color: var(--color-tertiary);
}

input:focus-visible {
    outline: 2px solid var(--color-primary);
    border-radius: 3px;
}

select:focus-visible {
    outline: 2px solid var(--color-primary);
    border-radius: 3px;
}

.drop_down_menu {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

/* END OF APPLY STYLING */

.signin-legend,
.signin-h2,
.user-svg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article[class="sign-in"] {
    background-color: var(--color-secondary);
    line-height: 1.2;
    padding: 2rem 0;
}

article[class="sign-in"] form {
    width: 60vw;
    max-width: 500px;
    min-width: 250px;
    margin: 0 auto;
    padding-bottom: 2em;
    display: grid;
    place-items: center;
}

article[class="sign-in"] label {
    display: block;
    margin: 0.5rem 0;
}

input[class="sign_in"] {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    text-transform: uppercase;
}

.forgot-password a {
    color: rgb(0, 0, 225);
    line-height: 1.75;
}

.forgot-password a:hover {
    text-decoration: underline;
}

/* END OF SIGNIN STYLING */

@media screen and (min-width: 600px) {

    .container {
        width: var(--container-medium);
    }

    section[id="benefits"] .container {
        grid-template-columns: 1fr;
    }

    section[class="credit_section"] .container {
        grid-template-columns: 1fr;
    }
}

/* END OF SMALL SCREEN MEDIA QUERIES */

@media screen and (min-width: 768px) {

    .container {
        width: var(--container-medium);
    }

    section[id="about"] .container {
        grid-template-columns: repeat(2, 1fr);
    }

    section[id="benefits"] .container {
        grid-template-columns: repeat(2, 1fr);
    }

    section[class="credit_section"] .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* END OF MEDIUM SCREEN MEDIA QUERIES */

@media screen and (min-width: 1024px) {

    #sidebar1,
    .bento,
    .logo1,
    #open-sidebar {
        display: none;
    }

    .logo2 {
        font-size: 1.5rem;
        display: block;
        position: relative;
    }

    header[id="header"] {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        background-color: var(--color-primary);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    /* END OF DESKTOP NAVBAR */

    .container {
        width: var(--container-medium);
    }

    section[id="about"] .container {
        grid-template-columns: repeat(2, 1fr);
    }

    section[id="benefits"] .container {
        grid-template-columns: repeat(3, 1fr);
    }

    section[class="credit_section"] .container {
        grid-template-columns: repeat(3, 1fr);
    }

    figure[class="creditcard"] {
        display: flex;
        flex-direction: column;
    }

    figcaption {
        margin-top: auto;
    }

    section[class="contact"] .container {
        grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
    }

    article[class="sign-in"] h2 {
        padding-top: 4rem;
    }

    article[class="application"] h2 {
        padding-top: 6rem;
    }
}

/* END OF DESKTOP MEDIA QUERIES */