:root {
    --color-primary: #05141A;
    --color-secondary: #E0E6EB;
    --color-tertiary: #609696;
    --color-alternate: #055043;
    --transition: 0.3s ease;
    --container-medium: 80%;
    --container-large: 90%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    line-height: 1.75;
}

.container {
    margin: 0 auto;
    width: var(--container-large)
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1, h2, h3, p {
    color: var(--color-primary);
}

a {
    color: var(--color-secondary);
    cursor: pointer;
    transition: var(--transition);
}

a:hover {
    color: var(--color-tertiary);
}

.nav-links {
    display: none;
}

.logo {
    font-size: 1.5rem;
    display: block;
}

.btn, .btn-primary:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 5px 20px;
    border: 1px solid transparent;
    font-weight: 600;
    text-transform: uppercase;
    transition: var(--transition);
}

.btn:hover {
    background-color: transparent;
    color: var(--color-secondary);
    border-color: var(--color-secondary);

}

.btn-primary {
    background-color: transparent;
    color: var(--color-secondary);
    padding: 5px 20px;
    border: 1px solid var(--color-secondary);
    font-weight: 600;
    text-transform: uppercase;
    transition: var(--transition);
}

/* END OF GENERAL STYLING */

nav[id="mobile-nav"] {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    background-color: var(--color-primary);
    position: relative;
    top: 0;
    left: 0;
}

button[id="open-sidebar"] {
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-color: var(--color-primary);
    position: relative;
    display: block;
}

bento-sidebar[id="sidebar1"] {
    background-color: var(--color-primary);
}
bento-sidebar[id="sidebar1"] li {
    padding: 2rem;
    cursor: pointer;
}

/* END OF MOBILE NAVIGATION STYLING */

section[id="about"] {
    background-color: var(--color-tertiary);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section[id="about"] .container {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr)
    minmax(min-content, 1fr); 
}

.container .about-article {
    grid-column: 1/3;
}

section[id="about"] h1, p {
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--color-secondary);
    padding: 0.5rem;
    text-align: center;
}
/* END OF ABOUT STYLING */

section[id="benefits"] {
    background-color: var(--color-primary);
}

section[id="benefits"] h2, h3, .benefits-column {
    color: var(--color-secondary);
}

section[id="benefits"] .container {
    display: grid;
    gap: 1rem;
    grid-template-columns: minmax(min-content, 1fr);
}

article[class="benefits-column"] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; 
    border-radius: 2px 16px;  
    border: 1px solid var(--color-secondary);
}
/* END OF BENEFITS STYLING