:root {
    --color-primary: #05141A;
    --color-secondary: #E0E6EB;
    --color-tertiary: #609696;
    --color-alternate: #055043;
    --color-white: #ffffff;
    --transition: 0.3s ease;
    --container-medium: 80%;
    --container-large: 90%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    line-height: 1.75;
}

.container {
    margin: 0 auto;
    width: var(--container-large)
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1, h2, h3, p {
    color: var(--color-primary);
}

a {
    color: var(--color-secondary);
    cursor: pointer;
    transition: var(--transition);
}

a:hover {
    color: var(--color-tertiary);
}

.nav-links {
    display: none;
}

.logo {
    font-size: 1.5rem;
    display: block;
}

.btn, .btn-primary:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 5px 20px;
    border: 1px solid transparent;
    font-weight: 600;
    text-transform: uppercase;
    transition: var(--transition);
}

.btn:hover {
    background-color: transparent;
    color: var(--color-secondary);
    border-color: var(--color-secondary);

}

.btn-primary {
    background-color: transparent;
    color: var(--color-secondary);
    padding: 5px 20px;
    border: 1px solid var(--color-secondary);
    font-weight: 600;
    text-transform: uppercase;
    transition: var(--transition);
}

/* END OF GENERAL STYLING */

nav[id="mobile-nav"] {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    background-color: var(--color-primary);
    position: relative;
    top: 0;
    left: 0;
}

button[id="open-sidebar"] {
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-color: var(--color-primary);
    position: relative;
    display: block;
}

bento-sidebar[id="sidebar1"] {
    background-color: var(--color-primary);
}

bento-sidebar[id="sidebar1"] li {
    padding: 2rem;
    cursor: pointer;
}

/* END OF MOBILE NAVIGATION STYLING */

section[id="about"] {
    background-color: var(--color-tertiary);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section[id="about"] .container {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr)
    minmax(min-content, 1fr); 
}

.container .about-article {
    grid-column: 1/3;
}

section[id="about"] h1, .intro, .about-p {
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--color-secondary);
    padding: 0.5rem;
    text-align: center;
}
/* END OF ABOUT STYLING */

section[id="benefits"] {
    background-color: var(--color-primary);
}

section[id="benefits"] h2, h3, .benefits-column {
    color: var(--color-secondary);
}

section[id="benefits"] .container {
    display: grid;
    gap: 1rem;
    grid-template-columns: minmax(min-content, 1fr);
}

article[class="benefits-column"] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; 
    border-radius: 2px 16px;  
    border: 1px solid var(--color-secondary);
}
/* END OF BENEFITS STYLING */

section[class="credit_section"] {
    background-color: var(--color-tertiary);
}

section[class="credit_section"] h3, p {
    color: var(--color-primary);
}

section[class="credit_section"] .container{
    display: grid;
    gap: 1rem;
    grid-template-columns: minmax(min-content, 1fr);
}

section[class="credit_section"] p {
    padding: 0 2rem;
}

section[class="credit_section"] h3, figcaption {
    text-align: center;
}

article[class="footer-column"] p {
    color: var(--color-secondary);
}

figure[class="creditcard"] {
    padding: 1rem;
}

figcaption {
    padding-top: 1rem;
}

.image {
    padding: 1rem;
}

/* END OF CREDIT CARDS STYLING */

footer[id="footer"] li {
    list-style: none;
    padding: 0.25rem;
}

footer[id="footer"] {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

footer[id="footer"] a {
    color: var(--color-secondary);
}
footer[id="footer"] a:hover {
    color: var(--color-tertiary);

}

.footer-column {
    padding: 1.25rem;
    min-width: 12.5rem;
}

section[id="footer-main"] {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}


h2[class="footer-title"] {
    color:var(--color-primary);
    font-size: 1.375rem;
    padding-bottom:  0.625rem;
}
/* END OF GENERAL FOOTER STYLING */

form {
    display: flex;
    flex-wrap: wrap;
}

label[class="label"] input[type="email"]{
    border: 0;
    padding: 0.625rem;
    background-color: var(--color-white);
    margin-top: 0.3125rem;
}

input[type="submit"] {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
    font-weight: 600;
}

/* END OF SIGN UP AREA STYLING */

section[id="footer-socials"]{
    padding: 0 1.875rem 1.25rem;
}

ul[class="footer-icons"] {
    display: flex;
    justify-content: center;
    border-top: 1px var(--color-secondary)solid;
    padding-top: 1.25rem;
}

ul[class="footer-icons"] li {
    margin: 0.5rem;
}

/*  END OF SOCIAL MEDIA STYLING */

section[id="footer-legal"] a {
    color: var(--color-secondary);
}

section[id="footer-legal"] {
    padding: 0.9375rem 1.875rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    
}

ul[class="footer-legal-items"] {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

ul[class="footer-legal-items"] li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;   
}

.footer-legal-items li:nth-of-type(2) {
    flex: 1;
}

/* END OF LEGAL SECTION STYLING */

section[id="footer-main"]{
    justify-content: space-around;
}  

/* END OF FOOTER SECTION */

section[class="contact"] .container {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
    gap: 1rem;
}

form[action="contact-form"] {
    background-color: var(--color-secondary);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

fieldset {
    border: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

input, textarea, select, legend {
    width: 100%;
    margin: 10px 0 0 0;
    min-height: 2em;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input, textarea {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: var(--color-white);
}

label[class="label4"] input[type="submit"] {
    display: block;
    min-width: 60%;
    height: 2em;
    font-size: 1rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-color: var(--color-white);
    text-transform: uppercase;
    cursor: pointer;
    padding: 0;
}

section[class="contact"] aside {
    background-color: transparent;
    padding: 2rem;
}

 aside h3 {
    font-size: 1.5rem;
    color: var(--color-primary);
    padding-bottom: 0.5rem;
}

section[class="contact"] article {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
}

textarea:focus {
    background-color: var(--color-tertiary);
}
/* END OF CONTACT PAGE STYLING */

article[class="application"] {
    margin: 0 auto;
    width: 100%;
}

article[class="application"] h2 {
    margin: 1em auto;
    text-align: center;
}

article[class="application"] form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

article[class="application"] fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 2px solid var(--color-primary);
}

article[class="application"] fieldset:last-of-type {
    border-bottom: none;
}

article[class="application"] label {
    display: block;
    margin: 0.5rem 0;
}

label[class="label5"] input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-color: var(--color-white);
    min-width: 300px;
    text-transform: uppercase;
}
 
article[class="application"] a {
    color: var(--color-primary);
    text-decoration: underline;
}

input:focus {
    background-color: var(--color-tertiary);
}

input:focus-visible {
    outline: 2px solid var(--color-primary);
    border-radius: 3px;
}

select:focus-visible {
    outline: 2px solid var(--color-primary);
    border-radius: 3px;
}

.drop_down_menu {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}
/* END OF APPLY STYLING */

article[class="sign-in"] {
    width: 100%;
    margin: 0 auto;
}

article[class="sign-in"] h2 {
    margin: 1em auto;
    text-align: center;
}

article[class="sign-in"] form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

article[class="sign-in"] label {
    display: block;
    margin: 0.5rem 0;
}

article[class="sign-in"] input[type="submit"]{
    display: block;
    width: 60%;
    margin: 0 auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    margin-top: 1em;
    margin-bottom: 1em;
    min-width: 250px;
    text-transform: uppercase;
}
/* END OF SIGNIN STYLING */
 
@media screen and (min-width: 1024px) {
    #sidebar1, .bento {
        display: none;
    }
    
    .buttons {
        display: none;
    }
    header[id="header"] {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: var(--color-primary);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        gap: 3rem;   
    }

    article[class="sign-in"] h2 {
        padding-top: 6rem;
    }

    article[class="application"] h2 {
        padding-top: 6rem;
    }



    
    
}
